@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

.home-section {
  margin-top: 2rem;
}
#home {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-content {
  margin: 0rem 0rem;
  padding: 0rem 5rem;
}
.home-content p {
  margin-bottom: auto;
  font-family: "Merriweather", serif;
  color: #538d4e;
}
.home-content h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 6vw;
  margin: 2rem 0rem;
  letter-spacing: 0.4rem;
}
.home-content h2 {
  font-size: 1.5rem;
}
.content-buttons {
  margin: 2rem 0rem;
}
.home-img {
  margin-left: auto;
  margin-right: 5rem;
}
.home-img img {
  width: 40vw;
}

.content-btn1 {
  font-size: 1.2rem;
  letter-spacing: 0.01rem;
  color: #fff;
  cursor: pointer;
  margin: 1em 0;
  text-align: center;
  border: none;
  padding: 1rem 3.5rem;
  background-size: 300% 100%;
  border-radius: 0.8em;
  transition: all 0.4s ease-in-out;
  background-image: linear-gradient(
    to right,
    #0ba360,
    #3cba92,
    #30dd8a,
    #2bb673
  );
  box-shadow: 0 4px 20px 0 rgba(23, 168, 108, 0.75);
}
.content-btn1:focus {
  outline: none;
}
.content-btn1:hover {
  background-position: 100% 0;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.content-btn1 > label {
  cursor: pointer;
}
.btn-rule {
  position: relative;
  color: white;
}
.content-btn2 {
  background: none;
  border: none;
  margin: 0rem 1.4rem;
  font-size: 1.3rem;
  cursor: pointer;
}
.btn-rule::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #3cefff;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

.btn-rule:hover::before {
  transform-origin: bottom left;
  transform: scaleX(1);
}

/* Media queries */

@media screen and (max-width: 1100px) {
  #home {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .home-img {
    margin-right: 0;
    margin-left: 0;
  }
  .home-img img {
    width: 50vw;
  }
  .home-content h2 {
    font-size: 1rem;
  }
  .content-btn1,
  .btn-rule {
    font-size: 0.9rem;
  }
}
