@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  align-items: center;
  padding: 30px 50px;
}

/* Nav links fonts set */
li,
.nav_links a,
button {
  font-family: "Montserrat", sans-serif;
  color: black;
  text-decoration: none;
}

/* Heading style */
.heading {
  cursor: pointer;
  font-size: 1.6rem;
  font-family: "Merriweather", serif;
  font-weight: bolder;
  letter-spacing: 0.2rem;
}

/* Nav style  */
nav {
  margin-left: 5rem;
}
.nav_links li {
  display: inline-block;
  padding: 0px 1em;
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
  cursor: pointer;
}

span {
  position: relative;
  color: white;
}

span::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #538d4e;
  transform-origin: center;
  transform: translate(-50%, 0) scaleX(0);
  transition: transform 0.3s ease-in-out;
}

span:hover::before {
  transform: translate(-50%, 0) scaleX(1);
}

/* Button style */
.buttons {
  margin-left: auto;
  padding: 0px 2em;
}
.buttons button {
  font-size: 1.2rem;
  padding: 9px 20px;
  font-weight: bold;
  border-radius: 7px;
  cursor: pointer;
  margin: 0px 10px;
}
.buttons button a {
  text-decoration: none !important;
  color: inherit;
}
.button > .btn1 {
  box-shadow: 3px 3px 8px #538d4e;
  color: #538d4e;
  border: 1px solid #538d4e;
  background-color: #fff;
  transition: 0.3s ease-in-out;
  font-size: 1vw;
  padding: 9px 20px;
  font-weight: 700;
  border-radius: 7px;
  cursor: pointer;
}
.buttons .btn2 {
  background-color: #538d4e;
  color: white;
  border: 1px solid #538d4e;
  transition: 0.2s ease-in-out;
  padding: 9px 30px;
  /* box-shadow: 22px 22px 85px #666666, -22px -22px 85px #ffffff; */
  box-shadow: 3px 3px 20px #538d4e;
}

.buttons .btn1:hover {
  background-color: #538d4e;
  color: white;
  border: 1px solid #538d4e;
  transition: 0.3s ease-in-out;
}

.buttons .btn2:hover {
  background-color: #3cb331;
  color: white;
  border: 1px solid #538d4e;
  transition: 0.3s ease-in-out;
  padding: 9px 30px;
}

/* Responsive code styles */
