.rule-heading{
   
    text-align: center;
}

.rule{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #1a1a1b;
    width: 35%;
    margin: auto;
    margin-top: 2rem;
    border-radius: 1rem;
    box-shadow:  20px 20px 60px #000000;
}

.rule-container{
    padding: 1.9rem 1.5rem;
    padding-bottom: 0.5rem;

    h1{
        font-size: 5rem;
        letter-spacing: 5px;
    }
    h3{
        font-size: 2em;
    }
    ul{
        padding-left: 1.25rem;
        margin: 2rem 0;
        margin-top: 1.5rem;
        li{
            font-size: 1.1rem;
            color: white;
        }
    }
    
    .main-examples{
        border-bottom: 2px solid #cccccc;
        padding-bottom: 2rem;
    }

    .examples{
        ul{
            list-style-type: none;
            display: flex;
            flex-direction: row;
            margin: 1rem 0;
            padding: 0;
            li{
                width: 2.4rem;
                height: auto;
                font-size: 1.2rem;
                margin-right: 0.5rem;
                text-align: center;
                border: 3px solid #565758;
                padding:  0.3rem 0.4rem;
                font-weight: 700;
            }
            .green{
                background-color: #538d4e;
            }
            .yellow{
                background-color: #b59f3b;
            }
            .grey{
                background-color: #3a3a3c;
            }
        }
        p{
            font-size: 1.1rem;
        }
    }
    .rule-para{
        font-size: 1.1rem;
        padding: 1rem 0;
        border-bottom: 2px solid #cccccc;
    }

    .game-rule-btn{
        display: grid;
        place-items: center;
        margin-top: 1rem;
    }
}
